In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [20]:
col_name = ["ProblemId","C","C++","Go","Java","Javascript","Python","Python3"]
df = pd.read_csv('../../data/processed/success_score.csv')
df.rename(columns = {'Unnamed: 0':'problemId'}, inplace = True)
df

,problemId,C,C++,Go,Java,Javascript,Python,Python3
0,5b5c8cd7276e2200208fed62,0.887715,1.054408,0.728522,0.997734,0.728522,0.728522,1.173973
1,5b645f711b2cd40020b6c771,0.834052,1.267035,0.677165,0.839609,0.677165,2.097561,1.053778
2,5b649819c0b1b80020eb30e1,1.282717,0.994248,0.835938,0.857663,0.835938,0.835938,1.085468
3,5b64600d1b2cd40020b6c772,1.030303,1.030303,0.507463,0.854271,0.507463,0.507463,1.030303
4,5b6c3ec18cab100020e963b7,0.885381,1.116316,0.737864,1.037389,0.737864,0.737864,1.295455
...,...,...,...,...,...,...,...,...
199,63361b9a125f8a00222e06ef,0.666667,1.333333,0.666667,2.000000,0.666667,0.666667,0.666667
200,633620e3fe6e62002205e71e,0.705882,1.039370,0.705882,0.705882,0.705882,0.705882,0.705882
201,6336ad26ee62f10022c977c2,0.875000,1.086207,0.875000,0.875000,0.875000,0.875000,0.875000
202,6336b760ee62f10022c97c37,0.769231,1.147541,0.769231,0.769231,0.769231,0.769231,0.769231
203,6336c0b1f9be3c00226020f2,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000